h1 {
    font-family: $fRaj;
    font-weight: 300;
    font-size: 48px;
    line-height: 1;
    text-transform: uppercase;
    color: $cWhite;
    grid-column: 1 / span 6;
    margin-bottom: 30px;
    @media (min-width: 768px) {
        font-size: 68px;
    }
}

h2 {
    font-family: $fRaj;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-transform: uppercase;
    color: $cWhite;
    grid-column: 1 / span 6;
    margin-bottom: 6px;
}

p {
    font-family: $fOpenSans;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25.6px;
    &:last-of-type {
        margin-bottom: 0;
    }
}